@font-face {
    font-family: 'AvertaDemoPE';
    src: url('./fonts/AvertaDemoPECuttedDemo-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'AvertaDemoPE';
    src: url('./fonts/AvertaDemoPE-ExtraBold.otf');
    font-weight: 800;
}

$desktop-width: 1170px;
$primary-color: #d6ae75;
$primary-text-color: #795348;
$primary-text-color-darker: #543329;
$secondary-text-color: #02006d;

*, a, ol, ul, li, span, p, div, h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: $primary-text-color;
}

ul li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'AvertaDemoPE';
    font-size: 16px;
    font-weight: 400;
    color: $primary-text-color;
}

header {
    display: none;
}

.breadcrumb {
    display: none;
}

#content {
    min-height: 100vh;
}

footer {
    display: none;
}

.account-login {
    #content {
        .content-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            
            .form-wrapper {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                padding: 25px 40px 30px 40px;
                border-radius: 10px;
                border: 3px solid rgba(35, 82, 124, 0.8);
                background-color: rgba(255, 255, 255, 0.75);
                
                .headings-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: stretch;
                    
                    h2 {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        
                        &.active {
                            
                        }
                    }
                    
                    .authentication {
                        margin: 0px 50px 0px 0px;
                    }
                    .registration {
                        opacity: 0.5;
                        text-shadow: none;
                        transition: text-shadow 0.3s ease-out, opacity 0.3s ease-out;
                        
                        &:hover {
                            opacity: 1;
                            text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
                            transition: text-shadow 0.3s ease-out, opacity 0.3s ease-out;
                        }
                    }
                }
                form {
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: flex-start;
                        
                        input {
                            background-color: #ffffff;
                            border: 1px solid #cfcfcf;
                            border-radius: 10px;
                            padding: 5px 10px 5px 10px;
                            margin: 20px 0px 0px 0px;
                            width: auto;
                            
                            &:first-child {
                                margin: 20px 0px 0px 0px;
                            }
                        }
                    }
                    
                    .submit {
                        background-color: rgba(255, 255, 255, 0.6);
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        color: $primary-text-color;
                        padding: 5px 10px 5px 10px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: background-color 0.3s ease-out;
                        border-radius: 10px;
                        margin: 20px 0px 0px 0px;
                        
                        &:hover {
                            transition: background-color 0.3s ease-out;
                            background-color: rgba(255, 255, 255, 0.9);
                        }
                    }
                }
            }
        }
    }
}

// Carousel slideshow module
.carousel-slideshow {
    flex: 1;
    margin: 15px 0px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    
    .visible-area {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        ul.slides-container {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0px;
            height: 100%;
            transition: left 0.3s ease-out;
            
            li.item {
                width: 100%;
                height: 100%;
                
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                
                a {
                    display: block;
                    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .controls {
        height: 0px;

        .pagination {
            position: absolute;
            bottom: 22px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            
            > a {
                display: block;
                margin: 0px 11px 0px 11px;
                cursor: pointer;
                
                &.current {
                    background-color: #ffffff;
                    transition: background-color 0.3s ease-out;
                    
                    &:before {
                        border-right: 3px solid #ffffff;
                        transition: border-right 0.3s ease-out;
                    }
                    
                    &:after {
                        border-left: 3px solid #ffffff;
                        transition: border-left 0.3s ease-out;
                    }
                }
            }
        }
        .direction-arrows {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            
            .arrow {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 42px;
                height: 42px;
                background-color: #66666740;
                transition: background-color 0.3s linear;
                cursor: pointer;
                
                &:hover {
                    background-color: #9c9c9c;
                    transition: background-color 0.3s linear;
                }
                
                &:after {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-left: 2px solid #ffffff;
                    border-top: 2px solid #ffffff;
                }
                
                &.arrow-left {
                    &:after {
                        transform: rotateZ(-45deg);
                        margin: 0px 0px 0px 5px;
                    }
                }
                
                &.arrow-right {
                    &:after {
                        transform: rotateZ(135deg);
                        margin: 0px 5px 0px 0px;
                    }
                }
            }
        }
    }
}

.landing-page {
    position: relative;
    
    .navbar{
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 1000;
        border: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: stretch;
            background-color: rgba(52, 63, 92, 0.8);
            
            li {
                list-style-type: none;
                height: 70px;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: stretch;
                background-color: transparent;
                transition: background-color 0.3s ease-out;
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                }
                
                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    transition: background-color 0.3s ease-out;
                    
                    a {
                        color: #23527c;
                    }
                }
            }
        }
    }
    
    .screen-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 70px 0px 70px 0px;
        
        &:nth-child(2n) {
            background-color: rgba(255, 255, 255, 0.75);
        }
        
        .container-row {
            width: $desktop-width;
            margin: 0px auto 0px auto;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            position: relative;
            
            .screen-heading {
                margin: 30px 0px 30px 0px;
                text-align: center;
                color: $primary-text-color-darker;
            }
            
            a {
                cursor: pointer;
            }
            
            .detailed-link {
                font-size: 16px;
                color: $secondary-text-color;
                text-decoration: none;
                cursor: pointer;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                height: 40px;
                
                &:hover {
                    color: $primary-text-color-darker;
                }
            }
            
            .detailed-text {
                overflow: hidden;
                height: 0px;
                min-height: 0px;
                opacity: 0;
                transition: min-height 0.3s 0.3s ease-out, opacity 0.3s ease-out;
                
                &.active {
                    min-height: 200px;
                    opacity: 1;
                    transition: min-height 0.3s ease-out, opacity 0.3s 0.3s ease-out;
                }
            }
        }
        
        &#headline {
            .container-row {
                text-align: center;
                justify-content: center;
                margin: 50px auto 150px auto;
                
                .logos {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    
                    .logo-wrapper {
                        width: 350px;
                        height: 150px;
                        position: relative;
                        background-color: #ffffff;
                        border-radius: 10px;
                        
                        .logo {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 90%;

                            &.foundation {

                            }
                            &.ipces {

                            }
                        }
                    }
                }
                
                .heading {
                    margin: 100px 0px 0px 0px;
                    font-weight: 600;
                }
                
                .heading-2 {
                    margin: 20px 0px 0px 0px;
                    font-weight: 600;
                }
                
                .heading-dates {
                    margin: 20px 0px 0px 0px;
                }
                
                .registration-link {
                    width: 450px;
                    text-transform: uppercase;
                    color: $secondary-text-color;
                    font-size: 50px;
                    line-height: 50px;
                    font-weight: 400;
                    cursor: pointer;
                    margin: 70px auto 70px auto;
                    border-radius: 10px;
                    padding: 20px 30px 20px 30px;
                    background-color: rgba(255, 255, 255, 0.4);
                    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0);
                    transition: background-color 0.15s ease-out, text-shadow 0.15s ease-out;
                    
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.75);
                        text-shadow: 0px 0px 2px rgba(2, 0, 109, 0.75);
                        transition: background-color 0.15s ease-out, text-shadow 0.15s ease-out;
                    }
                }
            }
        }
        
        &#program-description {
            background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
            
            .container-row {
                margin: 150px auto 150px auto;
                
                .free-price-text {
                    text-align: center;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 80px 0px 0px 0px;
                }
            }
        }
        
        &#levels {
            .container-row {
                .slider {
                    .carousel-slideshow {
                        height: 400px;
                        
                        .visible-area {
                            background-color: rgba(255, 255, 255, 0.8);
                            
                            .slide {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                                padding: 50px;
                            }
                        }
                    }
                }
            }
        }
        
        &#expert-jury {
            .container-row {
                margin-top: 0px;
                margin-bottom: 0px;
                
                ul.jury-list {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-start;
                    
                    li {
                        list-style-type: none;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: stretch;
                        margin: 20px 150px 0px 150px;
                        padding: 30px 30px;
                        border-radius: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.25);
                        background-color: rgba(255, 255, 255, 0.85);
                        
                        .jury-photo {
                            max-height: 300px;
                            max-width: 50%;
                            border-radius: 10px;
                            border: 1px solid rgba(0, 0, 0, 0.15);
                            padding: 5px 5px 5px 5px;
                            margin: 0px 30px 0px 0px;
                            background-color: #02006d4a;
                        }
                        
                        .jury-info-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: stretch;
                            justify-content: flex-start;
                            
                            .jury-position {
                                font-size: 24px;
                                line-height: 30px;
                                margin: 0px 0px 0px 0px;
                                color: $primary-text-color-darker;
                            }
                            
                            .jury-name {
                                font-size: 22px;
                                font-weight: 600;
                                line-height: 26px;
                                margin: 20px 0px 0px 0px;
                                color: $secondary-text-color;
                            }
                            
                            .jury-description {
                                font-size: 16px;
                                font-weight: 200;
                                line-height: 26px;
                                margin: 20px 0px 0px 0px;
                            }
                        }
                        
                        &:nth-child(2n) {
                            flex-direction: row-reverse;  
                            
                            .jury-photo {
                                margin: 0px 0px 0px 30px;
                            }
                        }
                        
                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }
                
                .detailed-link {
                    padding: 0px 150px 0px 0px;
                    margin: 0px 0px 30px 0px;
                }
            }
        }
        
        &#teaching-session {
            .container-row {
                .screen-heading {
                    
                }
                
                .session-location-points {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-start;
                    
                    .session-point {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        
                        .session-date {
                            
                        }
                        .session-location {
                            
                        }
                        .session-program {
                            display: flex;
                            flex-direction: row;
                            align-items: stretch;
                            justify-content: flex-start;
                            
                            .detailed-link {
                                margin: 0px 0px 0px 5px;
                                height: auto;
                                font-size: inherit;
                            }
                        }
                    }
                }
            }
        }
        
        &#organizer {
            background-color: rgba(255, 255, 255, 0.75);
            
            .container-row {
                
                .logos {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    
                    .logo {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: center;
                        max-width: 50%;
                        width: 300px;
                        
                        &.logo-foundation {
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
                
                .assistance-heading {
                    text-align: center;
                    font-size: 18px;
                    margin: 0px 0px 20px 0px;
                }
                
                .logo-carousel-wrapper {
                    position: relative;
                    background-color: rgba(255, 255, 255, 1);
                    padding: 10px 0px 10px 0px;
                    border-radius: 10px;
                    
                    .logo-carousel {
                        margin: 0px 50px 0px 50px;
                        border-radius: 10px;
                        border: 1px solid #cfcfcf;
                        padding: 10px 10px 10px 10px;
                        
                        .slick-list {
                            .slick-track {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }
                        }
                        
                        .slick-arrow {
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            box-shadow: none;
                            border-radius: 50%;
                            border: 2px solid #cfcfcf;
                            outline: none;
                            opacity: 0.8;
                            transition: opacity 0.3s ease-out;
                            
                            &:hover {
                                opacity: 1;
                                transition: opacity 0.3s ease-out;
                            }
                            
                            &:after {
                                position: absolute;
                                content: "";
                                display: block;
                                width: 7px;
                                height: 7px;
                                border-top: 2px solid #ffffff;
                                border-right: 2px solid #ffffff;
                            }
                            
                            &.slick-prev {
                                left: -40px;
                                
                                &:after {
                                    transform: rotateZ(-135deg);
                                }
                            }
                            &.slick-next {
                                right: -40px;
                                
                                &:after {
                                    transform: rotateZ(45deg);
                                }
                            }
                        }
                        
                        .carousel-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .carousel-item-image {
                                max-width: 100%;
                                max-height: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.account-register {
    #content {
        width: 760px;
        margin: 30px auto 30px auto;
        float: none;
        
        > h1.heading {
            text-align: center;
            margin: 0px 0px 10px 0px;
            background: rgba(255, 255, 255, 0.8);
            padding: 5px 0px;
            border-radius: 40px;
        }
        
        .already-registered-text {
            text-align: center;
            margin: 0px 0px 10px 0px;
            color: #ffffff;

            a {
                color: #ffffff;
                text-decoration: underline;
            }
        }
        
        .registration-form-wrapper {
            width: 100%;
            border-radius: 10px;
            border: 10px solid rgba(255, 255, 255, 0.5);
            padding: 0px 0px 0px 0px;
            background-color: rgba(255, 255, 255, 0.75);
            
            form {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                
                .input-group {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: stretch;
                    padding: 7px 35px 7px 35px;
                    
                    &:last-child {
                        
                    }
                    
                    &:nth-child(2n) {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                    
                    .label-wrapper {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        
                        label {
                            margin: 0px 0px 0px 0px;
                        }
                        
                        .error {
                            color: red;
                            font-size: 10px;
                            font-style: italic''
                        }
                    }
                    
                    input {
                        width: 200px;
                        margin: 0px 0px 0px 20px;
                        padding: 2px 5px;
                        border-radius: 8px;
                        border: 1px solid $primary-color;;
                        outline: none;
                    }
                }
                
                .teacher-information-text {
                    text-align: center;
                    margin: 25px 0px 10px 0px;
                    font-size: 14px;
                }
                
                .readed-conditions-text {
                    
                }
                
                .submit-area {
                    justify-content: center;
                }
            }
        }
    }
}

.account-account {
    .container {
        #content {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;
            
            .navigation-wrapper {
                width: 300px;
                background-color: rgba(224, 224, 224, 0.7);
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                
                h2 {
                    padding: 10px 20px 10px 20px;
                }
                
                ul.list-unstyled {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: stretch;
                    padding: 10px 0px 10px 0px;
                    
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: stretch;
                        
                        a {
                            background: none;
                            transition: background 0.3s ease-out;
                            padding: 10px 20px 10px 20px;
                            cursor: pointer;
                            
                            &:hover {
                                background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
                                transition: background 0.3s ease-out;
                            }

                            &.active{
                                background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
                                transition: background 0.3s ease-out;
                            }
                        }
                    }
                }
            }
            
            .content-wrapper {
                flex: 1;
            }
        }
    }
    
    .panel {
        flex: 1;
        flex-direction: row;
        padding: 0px 0px 0px 0px;
        display: none;
        opacity: 0;
        height: 0px;
        transition: opacity 0.3s ease-out, height 0.3s ease-out;
        
        &.active {
            padding: 20px 30px 20px 30px;
            display: block;
            opacity: 1;
            height: auto;
            transition: opacity 0.3s ease-out, height 0.3s ease-out;
        }
        
        .form-wrapper {
            form {
                .input-wrapper, .input-group {
                    
                }
            }
        }
        
        &#profile {
            .form-wrapper {
                flex: 1;
                display: flex;
                
                form {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-start;
                    
                    .input-wrapper {
                        flex: 1;
                        padding: 0px 20px 0px 20px;
                        
                        &:nth-child(2n) {
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                        
                        .label-wrapper {
                            flex: 1;
                        }
                    }
                    
                    .submit {
                        margin: 20px auto 20px;
                    }
                }
            }
        }
        
        &#projects {
            display: none;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            
            &.active {
                display: flex;
            }
            
            .level-tabs {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                height: 40px;
                
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: stretch;
                    cursor: pointer;
                    
                    a {
                        padding: 4px 10px 4px 10px;
                        border-color: $primary-color;
                        border-top: 1px solid;
                        border-left: 1px solid;
                        border-right: 1px solid;
                        border-radius: 10px 10px 0px 0px;
                        user-select: none;
                        background-color: transparent;
                        transition: background-color 0.3s ease-out, padding 0.2s ease-out;
                    }
                    
                    &:hover {
                        a {
                            background-color: rgba(0, 0, 0, 0.1);
                            transition: background-color 0.3s ease-out;
                        }
                    }
                    
                    &.active {
                        a {
                            padding: 4px 10px 9px 10px;
                            transition: padding 0.2s ease-out;
                        }
                    }
                }
            }
            
            .level-area {
                .level-wrapper {
                    display: flex;
                    overflow: hidden;
                    border-radius: 0px 10px 10px 10px;
                    border-color: $primary-color;
                    height: 0px;
                    opacity: 0;
                    transition: opacity 0.3s ease-out, height 0.3s ease-out;
                    
                    &.active {
                        padding: 10px 20px 10px 20px;
                        border: 1px solid;
                        min-height: 300px;
                        height: auto;
                        opacity: 1;
                        transition: opacity 0.3s ease-out, height 0.3s ease-out;
                    }
                    
                    &#level-1 {
                        flex: 1;
                        
                        .esse-form {
                            flex: 1;
                            
                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: stretch;
                                justify-content: flex-start;
                                
                                .textarea-group {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: stretch;
                                    justify-content: flex-start;
                                    margin: 30px 0px 0px 0px;
                                    
                                    &:first-child{
                                        margin:0px 0px 0px 0px;
                                    }
                                    
                                    .label-wrapper {
                                        label {
                                            font-size: 16px;
                                            margin: 0px 0px 10px 0px;
                                        }
                                    }
                                    
                                    textarea {
                                        border-color: $primary-color;
                                        padding: 5px 10px 5px 10px;
                                        border: 1px solid;
                                        min-height: 300px;
                                        border-radius: 0px 10px 10px 0px;
                                        margin: 0px 0px 0px 0px;
                                        resize: none;
                                    }
                                }
                                
                                .parent-area {
                                    margin: 30px 0px 30px 0px;
                                    display: flex;
                                    flex-direction: column;
                                    
                                    .input-group {
                                        margin: 10px 0px 0px 0px;
                                        
                                        &:first-child {
                                            margin: 0px 0px 0px 0px;
                                        }
                                        
                                        .label-wrapper {
                                            flex: 1;
                                        }
                                    }
                                    
                                    
                                }
                                
                                .input-wrapper {
                                    dislpay: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: flex-end;

                                    .submit {
                                        width: 50%;
                                    }
                                }
                                
                                .agreement-area {
                                    a.checkbox {
                                        flex: 1;
                                        display: block;
                                        flex-direction: row;
                                        align-items: stretch;
                                        justify-content: stretch;
                                        border-color: $primary-color;
                                        border: 4px solid;
                                        border-radius: 10px;
                                        min-width: 50px;
                                        height: 50px;
                                        margin: 0px 10px 10px 0px;
                                        cursor: pointer;
                                        
                                        .check {
                                            display: block;
                                            position: absolute;
                                            transform: translate(-50%, -50%);
                                            top: 50%;
                                            left: 50%;
                                            width: 80%;
                                            height: 80%;
                                            border-radius: 10px;
                                            background-color: $primary-color;
                                            opacity: 0;
                                            transition: opacity 0.3s ease-out;
                                        }
                                        
                                        &.checked {
                                            .check {
                                                opacity: 0.8;
                                                transition: opacity 0.3s ease-out;
                                            }
                                        } 
                                    }
                                    
                                    .attention {
                                        text-align: center;
                                        margin: 50px 0px 50px 0px;
                                        cursor: pointer;
                                        
                                        &:hover {
                                            color: $primary-text-color-darker;
                                        }
                                    }
                                }
                                
                                .submit {
                                    margin: 10px 0px 10px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 3px 8px;
    color: #ffffff;
    background-color: $primary-color;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s ease-out;
    }
}

form {
    .input-group, .input-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        .label-wrapper {
            label {
                margin: 0px 0px 0px 0px;
                
                .required-mark {
                    color: red;
                }
            }
        }
        
        input, input:not(.browser-default) {
            width: 200px;
            margin: 0px 0px 0px 20px;
            padding: 5px 10px;
            border-radius: 8px;
            border: 1px solid #d6ae75;
            outline: none;
            height: auto;
        }
    }
    
    .input-group {
        
    }
    
    .input-wrapper {
        margin: 10px 0px 0px 0px;
        
        &:first-child {
            margin: 0px 0px 0px 0px;
        }
    }
    
    .submit {
        
    }
}

#background-container {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    
    .background {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        min-height: 100vh;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        
        &.active {
            opacity: 0.5;
            transition: opacity 0.3s ease-out;
        }
    }
}

#ajax-response-info {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    opacity: 0;
    height: 0px;
    transition: opacity 0.2s ease-out, height 0.2s 0.2s ease-out;
    
    &.info {
        info-wrapper {
            background-color: rgba(113, 113, 113, 0.2);
            transition: background-color 0.2s ease-out;
        }
    }
    
    &.success {
        .info-wrapper {
            background-color: rgba(0, 255, 137, 0.2);
            transition: background-color 0.2s ease-out;
        }
    }
    
    &.fail {
        .info-wrapper {
            background-color: rgba(255, 0, 0, 0.34);
            transition: background-color 0.2s ease-out;
        }
    }
    
    &.active {
        height: 100vh;
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }
    
    .info-wrapper {
        padding: 30px 40px 30px 40px;
        border-radius: 10px 10px 10px 10px;
        border-color: $primary-color;
        border: 1px solid;
        
        .info-content {
            background-color: transparent;
            transition: background-color 0.2s ease-out;
        }
    }
}

.account-logout, .account-success {
    #content {
        position: relative;
        
        .content-wrapper {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .inner-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                padding: 20px 30px;
                border-radius: 10px;
                border: 1px solid $primary-color;
                max-width: 500px;
                text-align: center;
                
                .heading {
                    
                }

                .message {
                    margin: 20px 0px 0px 0px;
                }

                .buttons {
                    margin: 30px 0px 0px 0px;
                }
            }
        }
    }
}

#preloader {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    display: none;
    
    &.active {
        display: flex;
    }
    
    .preloader-wrapper {
        width: 50px;
        height: 50px;
    } 
}

/* Maetrialize fixes */
@media only screen and (min-width: 993px){
    .container {
        width: 100%;
    }
}